<head>
  <meta charset="UTF-8">
  <title>answer42</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <nav>
    <a class="nav-wrapper">
      <a href="/" class=""><img src="/images/dont-panic-2.jpg" title='Home' alt="Don't Panic" class="logo"></a>
      <a href="/" class="brand-logo">answer42</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#!">home</a></li>
        <li><a href="#!">dashboard</a></li>
        <li><a href="#!">login</a></li>
        {{!-- <li><a href="mobile.html">Mobile</a></li> --}}
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="#">home</a></li>
    <li><a href="#">dashboard</a></li>
    <li><a href="#">login</a></li>
    {{!-- <li><a href="mobile.html">Mobile</a></li> --}}
  </ul>
        
{{{ body }}}
  {{!-- <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        Answer: 42
      </h1>
    </header>
      <main class="container container-fluid mt-5">
        {{{ body }}}
      </main>
  </div> --}}


  <script src="/js/materialize.js"></script>
  </body>

</html>