    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <input id="input_text" type="text" data-length="100">
            <label for="input_text">Title: It is a mistake to think you can solve any major problems just with potatoes.</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea id="textarea2" class="materialize-textarea" data-length="5000"></textarea>
            <label for="textarea2">Body: In the beginning the Universe was created. This has made a lot of people very angry and been widely regarded as a bad move.</label>
          </div>
        </div>
        <button class="btn waves-effect waves-light center-align" type="submit" name="action">Preach on!
            <i class="material-icons right">send</i>
        </button
      </form>
    </div>

