:root {
    --primary: #389393;
    --secondary: #f5a25d;
    --tertiary: #fa7f72;
    --quatrinary: #6c6b67;
    --light: #ebebeb;
    --dark: #182c23;
    --error: rgb(228, 46, 1);
    --border-radius: 0.3rem;
    --nav: #FFFF00;
    --nav-alt: #D40000;
    --black: #000000;
  }
  
  body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: var(--quatrinary);
  }
  
  .new-post-btn {
    position: fixed;
    bottom: 20;
    right: 20;
    background-color: rgba(250, 4, 4, 0.65)!important;
  }

  header {
    padding: 40px;
    text-align: center;
    background: var(--primary);
    color: var(--secondary);
    border-bottom-style: solid;
  }
  
  .logo {
    max-width: 96px;
    position: relative;
    margin-left: 12px;
    margin-right: 12px;
  }

  .brand-logo {
    font-family: 'Zen Dots', cursive;
  }

  #input_text {
    width: 75rem;
  }

  
  nav {
    /* display: block!important; */
    background-color: var(--black);
    height: 10rem;
    align-items: center;
    padding-top: 12px;

  }
  nav a {
    font-weight: 500;
    font-family: 'Righteous', cursive;
  }
  .babelfish {
    max-height: 128px;
    position: absolute;
    top: 8px;
    left: 45%;
    /* left: 80% */
  }

  /* .btn {
    background-color: red;
  } */

  h5 {
    font-family: 'Righteous', cursive;
  }

  blockquote {
    font-style: italic;
  }

  .comment-author, .comment-author > p {
    padding-bottom: 5px!important;
  }

  .no-bottom-margin {
    margin-bottom: 0;

  }

  .signup-col {
    border-left: 1px solid black;

    padding-left: 3rem!important;
  }

  .custom-row {
    height: 100vh;
  }

  .logout {
    margin-top: 100px;
  }

  
  .waves-effect.waves-red .waves-ripple {
    /* The alpha value allows the text and background color
    of the button to still show through. */
     background-color: rgba(250, 4, 4, 0.65)!important;
   }

   @media only screen and (max-width: 992px) {
    .babelfish {
     left: 80%;
   }
  }